.jumbotron {
    background: url("../images/original.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    width: 75%;
}

.btn {
    margin: 20px auto;
    width: 75%;
}

.game {
    background-color: black;
    color: silver;
    text-align: center;
    margin: 20px auto;
    padding: 20px 10px 20px 10px;
    width: 75%;
    border-radius: 10px;
}

.question {
    background-color: black;
    color: silver;
    margin: 20px auto;
    padding: 20px 10px 20px 10px;
    width: 75%;
    border-radius: 10px;
}

#show-time {
    color: silver;
    text-align: center;
}
